$primaryColor: #111010; //black
$secondaryColor: #ff8327; //dusty orange
$accentColor: #bf2603; // rust red
$accentColor2: #ffffff; // off-white
$secondaryBackground: #220303; // dark red
$footerBackground: #2F4F4F; // dark slate grey

$primaryFont: 'Chathura', sans-serif;
$secondaryFont: 'Tulpen One', cursive;