.about .wrapper,
.events .wrapper,
.imageGallery .wrapper, 
.contactMain .wrapper {
  max-width: 1280px;  
  width: 80%;
  margin: 0 auto;
}

.host .wrapper {
  max-width: 1120px;
  width: 70%;
  margin: 0 auto;
}

header .wrapper {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.contactHeader .wrapper,
.blogHeader .wrapper {
  height: 30rem;
  max-width: 1280px;  
  width: 80%;
  margin: 0 auto;

  @include breakpoint-phone {
    width: 100%;
    height: 20rem;
  }
}

footer { background-color: $footerBackground; }

footer p {
  margin: 0 auto;
  padding: .5rem 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.16rem;
  font-weight: bold;
  line-height: 4.735rem;
  letter-spacing: .13rem;

  @include breakpoint-tablet-port { font-size: 3rem; }
}

h2 {
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  letter-spacing: .11rem;

  @include breakpoint-tablet-port { font-size: 2.5rem; }
}

ul {
  margin: 0;
  padding: 0;
}

p { margin: 0; }

img { display: inline-block; }

button,
input[type=submit] {
  font-family: $secondaryFont;
  color: $accentColor2;
  letter-spacing: .095rem;
  border: 0;
  background: $accentColor;
  padding: .5rem 1.6rem;
  transition: all .2s;
}

button:hover,
input[type=submit]:hover { background-color: $footerBackground; }

input[type=submit] { width: 100%; }

.mainNav {
  @include breakpoint-phone {
    align-self: flex-start;
    transform: translateX(-1000px);
    transition: all cubic-bezier(.58,0,.54,1.65) .5s;
  }
}

.mainNav ul{
  display: flex;
  align-items: center;

  @include breakpoint-phone {
    flex-direction: column;
    align-items: center;
    background-color: $secondaryBackground;
    padding: .5rem 1rem;
    box-shadow: .25rem .25rem 0px 0px $secondaryColor;
  }
}

.mainNav li {
  list-style: none;
  display: inline-block;
  padding: 2rem;

  @include breakpoint-tablet-land { padding: 1.5rem; }

  @include breakpoint-phone { padding: .5rem; }
}

.mainNav li:nth-child(3) {
  @include breakpoint-phone-big { padding: 0; }
}

.mainNav a:link,
.mainNav a:visited {
  font-size: 1.9rem;
  font-weight: bold;
  color: $accentColor2;
  text-transform: uppercase;
  line-height: 1.45rem;
  text-decoration: none;
  transition: all .2s;

  @include breakpoint-tablet-land { font-size: 1.5rem; }

  @include breakpoint-tablet-port { font-size: 1.2rem; }

  @include breakpoint-phone { font-size: 2rem; }
}

.mainNav a:hover,
.mainNav a:active { color: $secondaryColor; }

.hamburgerButton { display: none; }

.hamburgerButton:checked + .mainNav { transform: translateX(0); }

.hamburger {
  position: absolute;
  top: 1.111rem;
  right: 1.111rem;
  visibility: hidden;
  transition: all .2s;
  cursor: pointer;
  z-index: 100;

  @include breakpoint-phone { visibility: visible; }
}

.hamburger img:hover { cursor: pointer; }

.mainNav h1 {
  font-family: $secondaryFont;
  font-size: 4rem;
  letter-spacing: .12rem;
  font-weight: 400;
  display: inline-block;

  @include breakpoint-tablet-land { font-size: 3rem; }

  @include breakpoint-phone {
    font-size: 3rem;
    display: none;
  }
}

.blogHeading {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  h1 { font-size: 7rem; }

  @include breakpoint-phone { padding-left: 2rem; }
}

input[type=text],
input[type=email] {
  color: $accentColor2;
  width: 100%;
  border: none;
  border-bottom: .1rem solid $secondaryColor;
  background-color: $primaryColor;
  padding: 0 0 2rem 1.5rem;

  @include breakpoint-phone {
    padding: 0 0 1rem 1.5rem;
    margin-bottom: 1rem;
  }
}

input::placeholder,
textarea::placeholder {
    color: $accentColor2;
    opacity: 1;
    font-family: $primaryFont;
    letter-spacing: .095rem;
}

textarea {
  color: $accentColor2;
  width: 100%;
  height: 10rem;
  grid-column: 1 / 3;  
  border: .1rem solid $secondaryColor; 
  background-color: $primaryColor;
  resize: none;
  padding: 1rem 0 0 1.5rem;

  @include breakpoint-phone { margin-bottom: 1rem; }
}

input[type="submit"] { grid-column: 1 / 3; }