.blogHeader {
  background-image: url(../images/blogHeader1.jpg);
  background-size: cover;

  .wrapper {
    position: relative;
  }
}

// .blogHeading {
//   align-self: flex-start;
//   justify-content: center;
//   margin: auto 0;
// }

.mission {
  background-color: $secondaryBackground;
  width: 30%;
  // margin: 0 -5rem 0 -5rem;
}

.blog {
  width: 70%;
  padding-left: 5rem;
}

.blogImage img {
  position: relative;
  top: -8rem;
  width: 100%;
  box-shadow: -1rem 1rem 0px 0px $secondaryColor;
}

.blogMain {
  padding: 5rem 10%;
  box-shadow: -.5rem .5rem 0px 0px $secondaryColor;
  position: relative;
  top: -8rem;
  left: -.5rem;
}

.blogMain h2:nth-of-type(1) {
  margin-bottom: -.5rem;
}

.blogMain h2:nth-of-type(2) {
  color: $secondaryColor;
  font-size: 1.95rem;
}

.blogMain p {
  padding: 1rem 0;
}

.blogComments {
  margin-top: -5rem;
  margin-bottom: -5rem;
  padding: 0 10% 5rem 10%;

  h2 {
    padding-bottom: 1.5rem;
  }
}

.blogComments div:first-of-type {
  margin-bottom: 4rem;
}

.blogCommentsBox {
  display: flex;
}

.blogCommentsText {
 padding-left: 2rem;
}

.blogCommentsText h2 {
  color: $secondaryColor;
  font-size: 2.5rem;
  line-height: .5;
  padding-bottom: .75rem;
}

.blogForm {
  padding: 0 10% 0 7%;
  margin-bottom: 5rem;
}

.blogForm form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}




