.contactHeader {
  background-image: url(../images/contactHeader1.jpg);
  background-size: cover;
}

.contactInfo {
  width: 30%;
}

.contactForm {
  background-color: $secondaryBackground;
  width: 70%;
}