.homeHeader {
  background-image: url(../images/homeImage1.jpg);
  background-size: cover;
}

header .wrapper {
  position: relative;
  height: 40rem;
  flex-direction: column;
  align-items: center;

  @include breakpoint-desktop-small {
    height: 30rem;
  }
}

.headerTitle {
  position: absolute;
  bottom: 100px;
  z-index: 1;
}

.headerTitle h1{
  font-family: $secondaryFont;
  color: $secondaryColor;
  font-size: 13.07rem;
  font-weight: 400;
  letter-spacing: .12rem;
  line-height: 2.5rem;

  @include breakpoint-desktop-small { font-size: 10rem; }

  @include breakpoint-phone { font-size: 7.5rem; }
}

.headerTitle span {
  font-family: $primaryFont;
  font-size: 4.16rem;
  font-weight: bold;
  color: $accentColor2;
  letter-spacing: .13rem;

  @include breakpoint-desktop-small { font-size: 3rem; }

  @include breakpoint-phone-small { font-size: 2.5rem; }
}

.headerImage img {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -5rem;

  @include breakpoint-desktop-small { width: 50%; }

  @include breakpoint-phone { bottom: -2.5rem; }
}

.about {
  padding: 9rem 0 5rem 0;

  @include breakpoint-phone { padding: 6rem 0 5rem 0; }

  @include breakpoint-phone-small { padding: 4rem 0 3rem 0; }
}

.aboutBox {
  width: 50%;
  display: flex;

  @include breakpoint-phone { width: 100%; }
}

.fas {
  height: 3.5rem;
  width: 3.5rem;
  background-color: $accentColor;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding-top: .7rem;

  @include breakpoint-tablet-port {
    height: 2.5rem;
    width: 2.5rem;
    padding-top: .4rem;
  }
}

.boxText {
  width: 90%;
  padding: 0 0 5rem 1rem;

  @include breakpoint-tablet-land { padding: 0 0 2rem 1rem; }

  @include breakpoint-phone-small { padding: 0 0 1rem 1rem; }
}

.boxText h2 {
  margin-bottom: 1rem;

  @include breakpoint-phone-small { margin-bottom: .5rem; }
}

.planAhead { background-color: $secondaryBackground }

.planAhead .wrapper {
  display: grid;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint-desktop-small { align-items: center; }

  @include breakpoint-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.planAheadImageBox1 {
  position: relative;

  @include breakpoint-phone {
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.planAheadImageBox1 img {
  width: 90%;
  position: relative;
  left: 0;
  top: -3rem;
  box-shadow: 1rem 1rem 0px 0px $secondaryColor;

  @include breakpoint-desktop-small { position: static; }

  @include breakpoint-phone { width: 75%; }
}

.planAheadTextBox1 {
  padding: 0 20% 3rem 10%;
  align-self: flex-end;

  @include breakpoint-tablet-land { padding: 0 0 1rem 10%; }

  @include breakpoint-phone { padding: 1rem 10% 1rem 10%; }
}

.planAheadTextBox1 p,
.planAheadTextBox2 p {
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.planAheadImageBox2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;

  @include breakpoint-phone {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.planAheadImageBox2 img {
  width: 90%;
  position: absolute;
  right: 0;
  bottom: -3rem;
  box-shadow: -1rem 1rem 0px 0px $secondaryColor;

  @include breakpoint-desktop-small { position: static; }

  @include breakpoint-phone { width: 75%; }
}

.planAheadTextBox2 {
  padding: 3rem 10% 0 20%;
  text-align: right;
  align-self: flex-start;

  @include breakpoint-tablet-land { padding: 1rem 10% 0 0; }

  @include breakpoint-phone {
      padding: 1rem 10% 2rem 10%;
      text-align: left;
    }
}

.host .wrapper{
  padding: 9rem 0 7rem 0;
  text-align: center;

  @include breakpoint-desktop-small { padding: 4rem 0 5rem 0; }

  @include breakpoint-phone { width: 80%; }

  @include breakpoint-phone-small { padding: 3rem 0; }
}

.host h2 {
  color: $secondaryColor;
  display: inline-block;
  width: 100%;
}

.host p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.host button {
  margin:0 auto;
  display:block;
}

.bannerImage img {
  width: 100%;
  min-height: 20rem;
  object-fit: none;
  object-position: 100% 50%;
}

.events {
  padding: 7rem 0 7rem 0;

  @include breakpoint-tablet-land { padding: 4rem 0; }

  @include breakpoint-tablet-land { padding: 2rem 0; }
}

.events .wrapper {
  align-items: center;

  @include breakpoint-phone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.eventsImageBox {
  width: 33.333%;
  
  @include breakpoint-phone { width: 75%; }
}

.eventsImageBox img {
  box-shadow: -1rem 1rem 0px 0px $secondaryColor;

  @include breakpoint-tablet-land { width: 90%; }
}

.eventsTextBox {
  width: 66.666%;
 
  @include breakpoint-phone {
    padding-top: 4rem;
    width: 100%;
  }
}

.events h2 {
  color: $secondaryColor;
  line-height: .5;
}

.events p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.imageGallery {
  background-color: $secondaryBackground;
  padding: 6rem 0;

  @include breakpoint-tablet-land { padding: 4rem 0; }

  @include breakpoint-phone { padding: 2rem 0; }
}

.imageGallery ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  @include breakpoint-phone {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
  }
}

.imageGallery li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGallery img {
  width: 100%;

  @include breakpoint-phone { width: 75%; }
}