.homeHeader {
  background-image: url(../images/homeImage1.jpg);
  background-size: cover;
}

header .wrapper {
  position: relative;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  position: absolute;
  bottom: 100px;
  z-index: 1;
}

.headerTitle h1{
  font-family: $secondaryFont;
  color: $secondaryColor;
  font-size: 13.07rem;
  letter-spacing: .12rem;
}

.headerTitle span {
  color: $accentColor2;
  font-size: 4.16rem;
  font-weight: bold;
  line-height: 4.735rem;
  letter-spacing: .13rem;
}

.headerImage img {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -100px;
}

.planAhead {
  background-color: $secondaryBackground
}

.imageGallery {
  background-color: $secondaryBackground
}